[submodule "package/flatpak/flathub"]
	path = package/flatpak/flathub
	url = https://github.com/AsimovGod/flathub.git
[submodule "module/glib"]
	path = module/glib
	url = https://salsa.debian.org/gnome-team/glib.git
[submodule "module/Junction"]
	path = module/Junction
	url = https://github.com/sonnyp/Junction.git
[submodule "module/libportal"]
	path = module/libportal
	url = https://github.com/flatpak/libportal.git
